                                                /*police d'écriture*/
@font-face {
    font-family: 'ralewayregular';
    src: url('polices/Raleway-Regular.ttf');
    src: url('polices/raleway-regular-webfont.eot');
    src: url('polices/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/raleway-regular-webfont.woff2') format('woff2'),
         url('polices/raleway-regular-webfont.woff') format('woff'),
         url('polices/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
 /*police d'écriture*/

/*général*/



body
{
    font-family: 'ralewayregular','Trebuchet MS', Arial, sans-serif;
}

#bloc_page
{
 width: 95%;
 margin: auto;
 margin-bottom: 20px;
}

h1, h2, h3
{
    font-weight: bold;
}
ul
{
    list-style-type: none;
}

 /*général*/

/* =================================================     Header    ================================================= */
/*@media screen and (min-width: 1600px)*/
header /*block header*/
{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

#logo /*logo*/
{
    width: 100px;
    height: 45%;
}

.navigation
{
    margin-left: 65%;
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.navigation ul
{
    width: 300px;
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
}

.liHebergements a, .liActivites a
{
    color:black;
    font-size: 0.9em;
    margin-top: 40px;
    text-decoration: none;
}

.liHebergements a:hover, .liActivites a:hover
{

    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 40px;
}

.inscrire
{
    margin-top: 16px;
}

.inscrire a
{
    margin: auto;
    color:#0065FC;
    font-size: 1.1em;
    text-decoration: none;
    text-decoration-line: none;
    font-weight: bolder;
}

.inscrire a:hover
{
    color: #0065FC;
    
}
/*@media screen and (min-width: 1600px)*/


/*@media screen and (max-width: 580px)*/

@media screen and (max-width: 480px)
{
    header
    {
        width: 100%;
        height: 200px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;

    }
    header :nth-child(2) { order: 3; }

    #logo /*logo*/
    {
        width: 100px;
        height: 45px;
    }

    .navigation
    {
        margin-left: 0px;
        width: 100%;
        margin-top: -60px;
    }

    .navigation ul
    {
        color:black;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
    }


    .liHebergements a, .liActivites a
    {
        width: 240px;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid grey;
        padding-bottom: 10px;
    }

    .liHebergements a
    {
        margin-left: -40px;
    }

    .liHebergements a:hover, .liActivites a:hover
    {

        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
        margin: auto;
    }

    .liHebergements a:hover
    {
        margin-left: -40px;
    }

    .inscrire
    {
        font-size: 1.3em;
        font-weight: bolder;
    }
}
/*@media screen and (max-width: 580px)*/

/* =================================================     Header    ================================================= */


/* ================================================= Section haute ================================================= */

/*Zone recherche*/

/*@media screen and (min-width: 1600px)*/
#barreRecherche
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.logorecherche
{
    background-color: #f2f2f2;
    height: 40px;
    width: 40px;
    border-radius:  10px 0px 0px 10px;
    display: flex;
}

.logorecherche i
{
    margin: auto;
}

#search
{
    font-weight: bold;
}

button
{
    background-color: #0065FC;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
}
/*@media screen and (min-width: 1600px)*/


/*@media screen and (max-width: 480px)*/
@media screen and (max-width: 480px)
{

    #barreRecherche
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}
/*@media screen and (max-width: 480px)*/

/*Zone recherche*/

/*Zone filtres*/

/*@media screen and (min-width: 1600px)*/

.filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.filtres h2, .rechercheParFiltre
{
    margin-right: 40px;
}

.rechercheParFiltre
{
    display: flex;
}

.iconeFiltres
{
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    position: absolute;
}

.iconeFiltres i
{
    color: #0065fc;
    margin: auto;
}

.filtreFormulaire input
{
    width: 140px;
    height: 33px;
    border: solid 3px #f2f2f2;
    border-radius: 20px;
    font-weight: bold;
    padding-left: 40px;
    display: flex;
}

.informationComplementaire
{
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logoInfo
{
    display: flex;
    height: 25px;
    width: 25px;
    border: solid 1px #f2f2f2;
    border-radius: 50%;
}

.logoInfo i
{
    margin: auto;
    color: #0065FC;
}
/*@media screen and (min-width: 1600px)*/

/*@media screen and (max-width: 480px)*/
@media screen and (max-width: 480px)
{
    .filtres
    {
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
    }

    .filtres h2
    {
            margin-bottom: 5px;
    }

    .informationComplementaire
    {
        margin-bottom: 20px;
    }
}
/* @media screen and (max-width: 480px)*/

/*Zone filtres*/

/* ================================================= Section Haute ================================================= */



/* =================================================  Section Mid  ================================================= */

/*@media screen and (min-width: 1600px)*/

.section2 /* fonction général de la section2*/
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}

/* fonction de l'article*/

article
{
    border: 1px solid #f2f2f2;
    border-radius: 30px/30px;
    background-color: #f2f2f2;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

article h2, article h3
{
    font-size: 1.5em;
    width: 90%;
}

.vignetteHebergements
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 30%;
    height: 300px;
}

.vignetteHebergements img
{
    object-fit: cover;
    padding: 2%;
    border-radius: 20px 20px 0px 0px;
    width: 96%;
    height: 200px;
}

.vignetteHebergementsTxt
{
    display: flex;
    flex-direction: column;
}

.vignetteHebergementsTxt h3
{
    font-size: 1.2em;
    font-weight: bolder;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 1px;
}

.vignetteHebergementsTxt p
{
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 0px;
}

.vignetteHebergementsTxt .noteEtoiles
{
    margin-left: 5px;

}

/*fonction de l'article */

/*fonction du aside*/

aside
{
    border: 1px solid #f2f2f2;
    border-radius: 30px/30px;
    background-color: #f2f2f2;
        width: 25%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
}

.asideTitre
{
   width: 90%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.asideTitre h2
{
    font-size: 1.5em;
}

.asideTitre i
{
    width: 20px;
    height: 20px;
    font-size: 1.5em;
    margin-top: 2px;
}

.vignettePopulaires
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    display: flex;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 90%;
    height: 160px;
}

.vignettePopulaires Img
{
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    width: 170px;
    height: 150px;
    padding: 2%;
}

.vignettePopulairesTxt
{
    display: flex;
    flex-direction: column;
}

.vignettePopulairesTxt h3
{
    font-size: 1.2em;
    margin-bottom: 1px;
}

.vignettePopulairesTxt p
{
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 0px;
}


.noteEtoiles
{
    margin-top: auto;
    margin-bottom: 10px;
}
/*fonction du aside*/

/*@media screen and (min-width: 1600px)*/

/*@media screen and (max-width: 480px)*/

@media screen and (max-width: 480px)
{
    .section2 /* fonction général de la section2 ecran 480*/
    {
        height: 2650px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    /* fonction de l'article ecran 480*/

    article
    {
        border: 1px solid white;
        background-color: white;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    
     .vignetteHebergements
    {
        box-shadow: 8px 8px 8px #f2f2f2;
        width: 97%;
        margin-bottom: 15px;
    }

    .vignetteHebergementsTxt, .noteEtoiles
    {
        margin-left: 15px;
    }

    /*fonction de l'article ecran 480*/

    /*fonction du aside ecran 480*/

    aside
    {
            width: 100%;
            height: 620px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
    }

    .asideTitre, .vignettePopulaires
    {
    margin-bottom: 15px;
    }


    /*fonction du aside ecran 480*/
}

/*@media screen and (max-width: 480px)*/

/* css de la class noteEtoiles*/

.noteEtoiles
{
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.noteEtoiles a
{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1em;
    transition: color .4s;
}

.noteEtoiles a:hover, .noteEtoiles a:focus,
.noteEtoiles a:hover ~ a, .noteEtoiles a:focus ~ a
{
   color:  #0065FC;
   cursor: pointer;
}

/* css de la class noteEtoiles*/

/* =================================================  Section Mid  ================================================= */


/* =================================================  Section bas  ================================================= */

/*@media screen and (min-width: 1600px)*/

#container
{
    width: 100%;
    height: 500px;
    background-color:white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.vignetteActivitesVieuxPort, .vignetteActivitesParcCalanques
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    width: 20%;
    height: 100%;
}

.vignetteActivitesFortPomegues, .vignetteActivitesNotreDame
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    width: 20%;
    height: 50%;
}

.vignetteActivitesIlesFrioul, .vignetteActivitésParcLongchamp
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    width: 20%;
    height: 45%;
}

.vignetteActivitesVieuxPort img, .vignetteActivitesParcCalanques img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 85%;
}

 .vignetteActivitesFortPomegues img, .vignetteActivitesIlesFrioul img,
 .vignetteActivitesNotreDame img, .vignetteActivitésParcLongchamp img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 80%;
}

.texteSousPhoto
{
    margin-top: 10px;
    margin-left: 5px;
}

/*@media screen and (min-width: 1600px)*/

/*@media screen and (max-width: 480px)*/

@media screen and (max-width: 480px)
{
    #container
    {
        width: 100%;
        height: 2000px;
        background-color:white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .vignetteActivitesVieuxPort, .vignetteActivitesParcCalanques, 
    .vignetteActivitesFortPomegues, .vignetteActivitesNotreDame,
    .vignetteActivitesIlesFrioul, .vignetteActivitésParcLongchamp
    {
        box-shadow: 8px 8px 8px #f2f2f2;
        width: 100%;
        height: 300px;
    }

    .vignetteActivitesVieuxPort img, .vignetteActivitesParcCalanques img,
    .vignetteActivitesFortPomegues img, .vignetteActivitesIlesFrioul img,
    .vignetteActivitesNotreDame img, .vignetteActivitésParcLongchamp img
    {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 80%;
    }

    .texteSousPhoto
    {
        margin-top: 15px;
        margin-left: 10px;
    }
}

/*@media screen and (max-width: 480px)*/

/* =================================================  Section bas  ================================================= */

/* =================================================    footer     ================================================= */

/*@media screen and (min-width: 1600px)*/

footer
{
    background-color: #f2f2f2;
    margin-top: 50px;
    height: 200px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.aProposColonne1, .nosHebergementsColonne2, .assistanceColonne3
{
    width: 500px;
}

footer h3
{
    margin-left: 40px;
    font-size: 1.3em;
}

footer a
{
    text-decoration: none;
    color: black;
}

/*@media screen and (min-width: 1600px)*/

/*@media screen and (max-width: 480px)*/

@media screen and (max-width: 480px)
{
    footer
    {
        margin-top: 30px;
        height: 500px;

        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: baseline;
    }

    footer h3
    {
        margin-left: 40px;
        font-size: 1.3em;
    }

}

/*@media screen and (max-width: 480px)*/

/* =================================================    footer     ================================================= */






