/*police d'écriture*/
@font-face {
    font-family: 'ralewayregular';
    src: url('polices/Raleway-Regular.ttf');
    src: url('polices/raleway-regular-webfont.eot');
    src: url('polices/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/raleway-regular-webfont.woff2') format('woff2'),
         url('polices/raleway-regular-webfont.woff') format('woff'),
         url('polices/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*général*/

section, aside, footer
{
    border: 2px solid black;
    margin-bottom: 5px;
}
h3
{
    border: 2px solid green;
}
body
{
    font-family: 'ralewayregular','Trebuchet MS', Arial, sans-serif;
}


#bloc_page
{
 width: 95%;
 margin: auto;
}
h1, h2, h3
{
    font-weight: bold;
}
ul
{
    list-style-type: none;
    

}

/*général*/

/* =================================================     Header    ================================================= */
header /*block header*/
{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: flex-start;
}


#logo /*logo*/
{
    width: 100px;
    height: 50px;
}

nav
{
    width: 500px;
    height: 150px;
}

nav ul
{
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

nav a
{
    color:black;
    font-size: 0.9em;
    margin-top: 40px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 40px;
}

nav #inscrire
{
    color:#0065FC;
    font-size: 1.1em;
    font-weight: bolder;
}

nav #inscrire:hover
{
    color: #0065FC;
    border-top: none;
}

/* =================================================     Header    ================================================= */

/* ================================================= Section haute ================================================= */
/*Zone recherche*/

#barreRecherche
{
    display: flex;
    margin-left: 15px;
}




h1
{

}

h2
{

}

.logorecherche
{
    background-color: #f2f2f2;
    height: 30px;
    width: 30px;
    border-radius:  10px 0px 0px 10px;
    display: flex;
}

.logorecherche i
{
    margin: auto;
}
#search
{
    font-weight: bold;
}


button
{
    background-color: #0065FC;
    color: white;
    height: 30px;
    width: 90px;
    border-radius: 0px 10px 10px 0px;
}
/*Zone recherche*/

/*Zone filtres*/
.filtres
{
    border : 2px solid black;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.filtres ul
{
    border : 2px solid black;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filtres li
{
    border : 2px solid black;
   
}
/*Zone filtres*/
/* ================================================= Section Haute ================================================= */
.section1 /* fonction général de la section1*/
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
}
/* fonction de l'article*/

article
{
    border: 1px solid red;
    width: 60%;
    margin-right: 10px;
}



.vignetteHebergements
{
    border: 1px solid black;
    border-radius: 10px/10px;
    width: 300px;
}

.vignetteHebergements img
{
    
    width: 300px;
}

/*fonction de l'article */

/*fonction du aside*/
aside
{
        border: 1px solid #f2f2f2;
        border-radius: 30px/30px;
        background-color: #f2f2f2;
        width: 25%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
}
.asideTitre
{
  
   width: 400px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

    
}

.asideTitre h2
{
    border: 1px solid green;
}

.asideTitre i
{
    width: 20px;
    height: 20px;
    font-size: 1.3em;
    
    border: 1px solid orange;
    margin-top: 2px;

}
.vignettePopulaires
{
    display: flex;
    
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 400px;
    height: 160px;
}

.vignettePopulaires Img
{
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    width: 160px;
    height: 150px;
    padding: 5px;
}

.vignettePopulairesTxt
{
    display: flex;
    flex-direction: column;

}
.vignettePopulairesTxt h3
{
    font-size: 1.2em;
    margin-bottom: 1px;
}
.vignettePopulairesTxt p
{
    font-size: 0.9em;
    margin-top: 0px;
    
}

.noteEtoiles
{
   
    margin-top: auto;
    
}
/*fonction du aside*/

/* css de la class noteEtoiles*/

.noteEtoiles
{
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}
.noteEtoiles a {
    
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1em;
    transition: color .4s;
}

    .noteEtoiles a:hover, .noteEtoiles a:focus,
    .noteEtoiles a:hover ~ a, .noteEtoiles a:focus ~ a
    {
   color:  #0065FC;
   cursor: pointer;
}

/* css de la class noteEtoiles*/


/* =================================================  Section Mid  ================================================= */
/* =================================================  Section Mid  ================================================= */

/* =================================================  Section bas  ================================================= */
/* =================================================  Section bas  ================================================= */

/* =================================================    footer     ================================================= */
/* =================================================    footer     ================================================= */






