                                                /*police d'écriture*/
@font-face {
    font-family: 'ralewayregular';
    src: url('polices/Raleway-Regular.ttf');
    src: url('polices/raleway-regular-webfont.eot');
    src: url('polices/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/raleway-regular-webfont.woff2') format('woff2'),
         url('polices/raleway-regular-webfont.woff') format('woff'),
         url('polices/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
                                                /*police d'écriture*/

                                                    /*général*/



body
{
    font-family: 'ralewayregular','Trebuchet MS', Arial, sans-serif;
}

#bloc_page
{
 width: 95%;
 margin: auto;
}

h1, h2, h3
{
    font-weight: bold;
}
ul
{
    list-style-type: none;
}

                                                    /*général*/

/* =================================================     Header    ================================================= */
header /*block header*/
{
    width: 100%;
    height: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: flex-start;
}

#logo /*logo*/
{
    width: 100px;
    height: 50px;
}

nav
{
    width: 500px;
    height: 150px;
}

nav ul
{
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

nav a
{
    color:black;
    font-size: 0.9em;
    margin-top: 40px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 40px;
}

nav #inscrire
{
    color:#0065FC;
    font-size: 1.1em;
    font-weight: bolder;
}

nav #inscrire:hover
{
    color: #0065FC;
    border-top: none;
}
/* =================================================     Header    ================================================= */


/* ================================================= Section haute ================================================= */
/*Zone recherche*//* a finir !!! */

#barreRecherche
{
    display: flex;
    
}

.logorecherche
{
    background-color: #f2f2f2;
    height: 40px;
    width: 40px;
    border-radius:  10px 0px 0px 10px;
    display: flex;
}

.logorecherche i
{
    margin: auto;
}

#search
{
    font-weight: bold;
}

button
{
    background-color: #0065FC;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
}

/*Zone recherche*/

/*Zone filtres*/ /*a faire*/

.filtres
{   margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.filtres h2, .rechercheParFiltre
{
    margin-right: 40px;
}

.rechercheParFiltre
{
    display: flex;
}

.iconeFiltres
{
    background-color: #DEEBFF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    position: absolute;
}

.iconeFiltres i
{
    color: #0065fc;
    margin: auto;
}

.filtreFormulaire input
{
    width: 100px;
    height: 33px;
    border: solid 3px #f2f2f2;
    border-radius: 20px;
    font-weight: bold;
    padding-left: 40px;
    display: flex;
}

.informationComplementaire
{
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logoInfo
{
    display: flex;
    height: 25px;
    width: 25px;
    border: solid 1px #f2f2f2;
    border-radius: 50%;
}

.logoInfo i
{
    margin: auto;
    color: #0065FC;
}

/*Zone filtres*/

/* ================================================= Section Haute ================================================= */



/* =================================================  Section Mid  ================================================= */

.section2 /* fonction général de la section1*/
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}

/* fonction de l'article*/

article
{
    border: 1px solid #f2f2f2;
    border-radius: 30px/30px;
    background-color: #f2f2f2;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

article h2, article h3
{
    font-size: 1.5em;
    width: 90%;
}

.vignetteHebergements
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 350px;
    height: 300px;
}

.vignetteHebergements img
{
    object-fit: cover;
    margin: 5px;
    border-radius: 20px 20px 0px 0px;
    width: 340px;
    height: 200px;
}

.vignetteHebergementsTxt
{
    display: flex;
    flex-direction: column;
}

.vignetteHebergementsTxt h3
{
    font-size: 1.2em;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 1px;
}

.vignetteHebergementsTxt p
{
    font-size: 0.9em;
    margin-left: 5px;
    margin-top: 0px;
}

.vignetteHebergementsTxt .noteEtoiles
{
    margin-left: 5px;

}

/*fonction de l'article */


/*fonction du aside*/

aside
{
    border: 1px solid #f2f2f2;
    border-radius: 30px/30px;
    background-color: #f2f2f2;
        width: 25%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
}

.asideTitre
{
   width: 400px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.asideTitre h2
{
    font-size: 1.5em;
}

.asideTitre i
{
    width: 20px;
    height: 20px;
    font-size: 1.5em;
    margin-top: 2px;
}

.vignettePopulaires
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    display: flex;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 400px;
    height: 160px;
}

.vignettePopulaires Img
{
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    width: 160px;
    height: 150px;
    padding: 5px;
}

.vignettePopulairesTxt
{
    display: flex;
    flex-direction: column;
}

.vignettePopulairesTxt h3
{
    font-size: 1.2em;
    margin-bottom: 1px;
}

.vignettePopulairesTxt p
{
    font-size: 0.9em;
    margin-top: 0px;
}

.noteEtoiles
{
    margin-top: auto;
}
/*fonction du aside*/

/* css de la class noteEtoiles*/

.noteEtoiles
{
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.noteEtoiles a
{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1em;
    transition: color .4s;
}

.noteEtoiles a:hover, .noteEtoiles a:focus,
.noteEtoiles a:hover ~ a, .noteEtoiles a:focus ~ a
{
   color:  #0065FC;
   cursor: pointer;
}

/* css de la class noteEtoiles*/

/* =================================================  Section Mid  ================================================= */


/* =================================================  Section bas  ================================================= */

#container
{
    height: 500px;
    background-color:white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.vignetteActivitesVieuxPort, .vignetteActivitesParcCalanques
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    width: 20%;
    height: 100%;
}

.vignetteActivitesFortPomegues, .vignetteActivitesNotreDame
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    width: 20%;
    height: 50%;
}

.vignetteActivitesIlesFrioul, .vignetteActivitésParcLongchamp
{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #f2f2f2;
    width: 20%;
    height: 45%;
}

.vignetteActivitesVieuxPort img, .vignetteActivitesParcCalanques img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 85%;
}

 .vignetteActivitesFortPomegues img, .vignetteActivitesIlesFrioul img,
 .vignetteActivitesNotreDame img, .vignetteActivitésParcLongchamp img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 80%;
}

.texteSousPhoto
{
    margin-top: 10px;
    margin-left: 5px;
}
/* =================================================  Section bas  ================================================= */

/* =================================================    footer     ================================================= */
footer
{
    background-color: #f2f2f2;
    margin-top: 50px;
    height: 200px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.aProposColonne1, .nosHebergementsColonne2, .assistanceColonne3
{
    width: 500px;
}

footer h3
{
    margin-left: 40px;
    font-size: 1.3em;
}

footer a
{
    text-decoration: none;
    color: black;
    
}

/* =================================================    footer     ================================================= */






